.card{
	padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #9CB74D;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin: 10px 0px;
    mix-blend-mode: 20px;
}

.card img{
	width: 150px;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}


