.cards {
    display: flex;
    flex-wrap: wrap;
}

.card{
	padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #513C2C;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin: 20px auto;
    flex-basis :300px;
}

.card img{
	width: 150px;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-right: 10px;
}





